<!doctype html>
<html>
<head>
	<title><%= title %></title>
	<link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/themes/prism.min.css" />
	<%= content %>
	<script src="//cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/prism.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/components/prism-javascript.min.js"></script>
</body>